@font-face {
  font-family: "Intro Friday";
  src: url(/assets/fonts/IntroFriday.ttf);
}
:root {
  --bs-body-font-family: "Montserrat", sans-serif;
  color: #2D2D2D;
}

.h1 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Intro Friday", sans-serif;
}

.h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Intro Friday", sans-serif;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.h3-new {
  font-size: 26px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.h5 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.f-btn {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.f-head {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.f-footer {
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

li {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.red {
  color: #D11E1F;
}

.white {
  color: white;
}

.wrapper {
  min-height: 100vh;
  height: auto;
}

header {
  position: sticky;
  background: white;
  top: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.menu__item {
  margin-right: 24px;
}
.menu__item:last-child {
  margin-right: 0;
}

.h-btn {
  width: 271px;
  height: 51px;
  background-color: #D11E1F;
  border-radius: 10px;
  color: white;
}
.h-btn:hover {
  background-color: #891313;
}

main {
  min-height: 100vh;
  height: auto;
}

.first-block__text-box {
  margin-bottom: 60px;
  margin-top: 130px;
  margin-left: 40px;
}
.first-block__title {
  margin-bottom: 20px;
}
.first-block__title-red {
  color: #D11E1F;
}
.first-block__subtitle {
  max-width: 524px;
  color: rgba(108, 108, 108, 0.7);
}
.first-block__btn-group {
  margin-left: 40px;
  margin-bottom: 129px;
}

.btn-w-arrow {
  position: relative;
  width: 231px;
  height: 51px;
  background-color: #D11E1F;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-w-arrow:hover {
  background-color: #891313;
}
.btn-w-arrow__arrow {
  position: absolute;
  right: -16px;
}

.swiper-goods-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

.arrow-left-goods {
  position: absolute;
  z-index: 50;
  left: calc(5% - 24px);
  top: calc(50% - 24px);
}

.arrow-right-goods {
  position: absolute;
  z-index: 50;
  right: calc(5% - 24px);
  top: calc(50% - 24px);
}

.goods-slider-card {
  width: 230px;
  height: auto;
  background-color: white;
}
.goods-slider-card__img-box {
  margin: 16px;
}
.goods-slider-card__text-box {
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 9px;
}
.goods-slider-card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 8px;
}
.goods-slider-card__new-price {
  color: #D11E1F;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  margin-right: 8px;
}
.goods-slider-card__old-price {
  color: #D11E1F;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: line-through;
}

.first-block-right {
  position: relative;
  height: 480px;
  margin-bottom: 20px;
}
.first-block-right__text {
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
  z-index: 50;
  width: 327px;
}
.first-block-right__arrow {
  display: block;
  margin-top: 16px;
}
.first-block-right iframe {
  filter: grayscale(1);
  border-radius: 30px;
}
.first-block-right__bg {
  position: relative;
  background-color: #F6BB47;
  border-radius: 30px;
  height: 380px;
  width: 100%;
}
.first-block-right__img-box {
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/croisant.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  color: rgba(255, 255, 255, 0.7);
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 336px;
  background: #D11E1F;
}
.footer__row {
  width: 100%;
  margin-bottom: 14px;
}
.footer__row:last-child {
  margin-bottom: 0;
}
.footer__col {
  height: auto;
}
.footer__contacts {
  margin-bottom: 12px;
  color: white;
}
.footer__contacts:last-child {
  margin-bottom: 0;
}
.footer__title {
  margin-bottom: 16px;
  color: white;
}
.footer__li {
  margin-bottom: 12px;
}
.footer__li:last-child {
  margin-bottom: 0;
}

.messengers {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.messengers:last-child {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */