$regular: 400;
$medium: 500;
$bold: 700;

$main-red: #D11E1F;
$yellow: #F6BB47;
$hover-red: #891313;
$subtitle-color: rgb(108, 108, 108, 70%);
$f-color: #2D2D2D;
$footer-color: rgb(255, 255, 255, 70%);

@font-face {
	font-family: 'Intro Friday'; 
	src: url(/assets/fonts/IntroFriday.ttf); 
}

:root {
    --bs-body-font-family: "Montserrat", sans-serif;
    color: $f-color;
}

.h1 {
    font-size: 60px;
    font-weight: $regular;
    font-family: "Intro Friday", sans-serif;
}

.h2 {
    font-size: 30px;
    font-weight: $regular;
    font-family: "Intro Friday", sans-serif;
}

.h3 {
    font-size: 20px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
    line-height: 140%;
}

.h3-new {
    font-size: 26px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.h4 {
    font-size: 16px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.h5 {
    font-size: 14px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.f-btn {
    font-size: 16px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.f-head {
    font-size: 15px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.f-footer {
    font-size: 13px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

ul {
    padding-inline-start: 0;
    margin: 0;
}

li {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.red {
    color: $main-red;
}

.white {
    color: white;
}

.wrapper {
    min-height: 100vh;
    height: auto;
}

// --------------- header ----------------

header {
    position: sticky;
    background: white;
    top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.menu {

    &__item {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.h-btn {
    width: 271px;
    height: 51px;
    background-color: $main-red;
    border-radius: 10px;
    color: white;

    &:hover {
        background-color: $hover-red;
    }
    // &__text {
    //     padding: 16px 30px;
    // }
}


// --------------- main ----------------

main {
    min-height: 100vh;
    height: auto;
    // background: green;
}

// --------------- first-block ----------------

.first-block {

    &__text-box {
        margin-bottom: 60px;
        margin-top: 130px;
        margin-left: 40px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__title-red {
        color: $main-red;
    }

    &__subtitle {
        max-width: 524px;
        color: $subtitle-color;
    }

    &__btn-group {
        margin-left: 40px;
        margin-bottom: 129px;
    }
}

.btn-w-arrow {
    position: relative;
    width: 231px;
    height: 51px;
    background-color: $main-red;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $hover-red;
    }

    &__arrow {
        position: absolute;
        right: -16px;
    }
}

// ---------------  swiper  ----------------

.swiper-goods-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.arrow-left-goods {
    position: absolute;
    z-index: 50;
    left: calc(5% - 24px);
    top: calc(50% - 24px);
}

.arrow-right-goods {
    position: absolute;
    z-index: 50;
    right: calc(5% - 24px);
    top: calc(50% - 24px);
}

.goods-slider-card {
    width: 230px;
    height: auto;
    background-color: white;

    &__img-box {
        margin: 16px;
    }

    &__text-box {
        margin-left: 16px;
        margin-bottom: 16px;
        margin-right: 9px;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: $bold;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 8px;
    }

    &__new-price {
        color: $main-red;
        font-size: 20px;
        font-weight: $medium;
        line-height: 140%;
        margin-right: 8px;
    }

    &__old-price {
        color: $main-red;
        opacity: 0.6;
        font-size: 16px;
        font-weight: $medium;
        line-height: 140%;
        text-decoration: line-through;
    }
}

// --------------- map-block ----------------

.first-block-right {
    position: relative;
    height: 480px;
    margin-bottom: 20px;

    &__text {
        margin-top: 40px;
        margin-left: 40px;
        position: absolute;
        z-index: 50;
        width: 327px;
    }

    &__arrow {
        display: block;
        margin-top: 16px;
    }

    iframe {
        filter: grayscale(1);
        border-radius: 30px;
    }

    &__bg {
        position: relative;
        background-color: $yellow;
        border-radius: 30px;
        height: 380px;
        width: 100%;

    }

    &__img-box {
        width: 100%;
        height: 100%;
        background-image: url("/assets/img/croisant.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}



// --------------- footer ----------------

.footer {
    color: $footer-color;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 336px;
    background: $main-red;

    &__row {
        width: 100%;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        height: auto;
    }

    &__contacts {
        margin-bottom: 12px;
        color: white;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 16px;
        color: white;
    }

    &__li {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.messengers {
    width: 48px;
    height: 48px;
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}