$regular: 400;
$medium: 500;
$bold: 700;

$main-red: #D11E1F;
$hover-red: #891313;
$subtitle-color: rgb(108, 108, 108, 70%);
$f-color: #2D2D2D;
$footer-color: rgb(255, 255, 255, 70%);

@font-face {
	font-family: 'Intro Friday'; 
	src: url(/assets/fonts/IntroFriday.ttf); 
}

:root {
    --bs-body-font-family: "Montserrat", sans-serif;
    color: $f-color;
}

.h1 {
    font-size: 60px;
    font-weight: $regular;
    font-family: "Intro Friday", sans-serif;
}

.h2 {
    font-size: 30px;
    font-weight: $regular;
    font-family: "Intro Friday", sans-serif;
}

.h3 {
    font-size: 20px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
    line-height: 140%;
}

.h3-new {
    font-size: 26px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.h4 {
    font-size: 16px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.h5 {
    font-size: 14px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.f-btn {
    font-size: 16px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.f-head {
    font-size: 15px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

.f-footer {
    font-size: 13px;
    font-weight: $medium;
    font-family: "Montserrat", sans-serif;
}

ul {
    padding-inline-start: 0;
    margin: 0;
}

li {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    min-height: 100vh;
}

// --------------- header ----------------

header {
    position: sticky;
    background: white;
    top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.menu {

    &__item {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.h-btn {
    width: 271px;
    height: 51px;
    background-color: $main-red;
    border-radius: 10px;
    color: white;

    &:hover {
        background-color: $hover-red;
    }
    // &__text {
    //     padding: 16px 30px;
    // }
}


// --------------- main ----------------

main {
    height: 100vh;
    // background: green;
}

.first-block {

    &__text-box {
        margin-bottom: 60px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__title-red {
        color: $main-red;
    }

    &__subtitle {
        max-width: 524px;
        color: $subtitle-color;
    }
}

.btn-w-arrow {
    position: relative;
    width: 231px;
    height: 51px;
    background-color: $main-red;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $hover-red;
    }

    &__arrow {
        position: absolute;
        right: -16px;
    }
}


.map-block {
    position: relative;
    height: 480px;

    &__text {
        margin-top: 40px;
        margin-left: 40px;
        position: absolute;
        z-index: 50;
        width: 327px;
        color: $main-red;
    }

    &__arrow {
        display: block;
        margin-top: 16px;
    }

    iframe {
        filter: grayscale(1);
        border-radius: 30px;
    }
}

// --------------- footer ----------------

.footer {
    color: $footer-color;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 336px;
    background: $main-red;

    &__row {
        width: 100%;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        height: auto;
    }

    &__contacts {
        margin-bottom: 12px;
        color: white;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 16px;
        color: white;
    }

    &__li {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.messengers {
    width: 48px;
    height: 48px;
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}